.modal_button{
    width: 90%; padding: 10px;
    border-radius: 20px;
    background-color:#f0f2f5;
    outline: none;
    transition: all .4s ease-in-out;
}
.modal_button:hover{
    background-color: rgba(193, 199, 210, 0.72);
}
.modal_button:focus{
    outline: none !important;
}
.search{
    border: none;
    outline: none;
    border-bottom: 1px solid #cac3c3;
    transition: all .4s ease-in-out;
}
.search:focus{
    box-shadow: 0px 6px 17px -1px #b3b7bb;
}
.ColMd {
    width: 370px;
    margin-top: 65px;
    padding: 0px 15px 70px 15px;
    overflow: auto;
}
.add_post a{
    color: black;
    width: 100%;
    display: inline-block;
    padding: 5px 50px;

}
.add_post button{
    color: rgba(91, 91, 91, 0.64);
    width: 100%;
    background-color: transparent;
    outline: none;
    display: inline-block;
    padding: 5px 50px;
}
.add_post a:hover{
    text-decoration: none;
}
.myRightFriend {
    border: 1px solid;
    border-radius: 30px;
    margin-top: 7px;
    padding: 5px 20px;
    margin-right: 300px;
    outline: none;
    background-color: #f8f9fa;
    transition: all .4s ease-in-out;
}
.myRightFriend:hover{
    box-shadow: 0px 0px 10px 5px #d0cfcf;
}
.myRightFriend:focus{
    outline: none;
}
.add_post{
    width: 33%;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    transition: all .4s ease-in-out;
}
.add_post:hover{
    background-color: rgba(201, 207, 219, 0.95);

}
/*FILE*/
.file-upload input[type="file"]{
    display: none;
}
.file-upload {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    width: 250px;
    height: 40px;
    color: black;
    text-align: center;
    transition: all .4s ease-in-out;
}
.file-upload:hover {
    background-color: rgba(201, 207, 219, 0.95);
}
.file-upload label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.file-upload span {
    line-height: 40px;
}
/*FILE*/
/*    IMAGE*/
.image_post_icon{
    /*border-radius: 50%;*/
    width: 35px;
    height: 35px;
}
.textarea_post{
    overflow: hidden;
    border: none;
    text-align: left !important;
    outline: none;
    resize: none;
    height: 100%;
}
.image_comment_style{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 5px 5px 10px 0;
}

/**/



.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: 0px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}



.demo {
    padding-top: 60px;
    padding-bottom: 110px;
}

.btn-demo {
    margin: 15px;
    padding: 10px 15px;
    border-radius: 0;
    font-size: 16px;
    background-color: #FFFFFF;
}

.btn-demo:focus {
    outline: 0;
}
.commentList{
    background-color: transparent;
    color: black !important;
    outline: none !important;
}