<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cabinet</title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

</head>
<body style="background-color: #f1f1f1">
<ul class="nav bg-light justify-content-between px-5 py-2 position-fixed w-100" style="z-index: 999; box-shadow: 1px -3px 10px 1px rgb(195 189 189);">
    <div class="d-flex">
        <img src="/assets/img/staff.jpg" class="image_comment_style" alt="">
        <p th:text="${fullName}" class="nav-item text-black-50 font-weight-bolder my-0 mt-1" style="padding-top: 5px;" th:attr=" data-full_id= ${fullName}"/>
        <span th:text="${userId}" style="display: none;" th:data-user_id="${userId}"/>
    </div>
    <div class="d-flex">
        <li class="nav-item">
            <button type="button" class="myRightFriend" data-toggle="modal" data-target="#myModal2">
            Do'stlar
            </button>
        </li>
        <li class="nav-item">
            <a class="nav-link font-weight-bolder text-black-50" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link font-weight-bolder text-black-50" href="/logout">Logout</a>
        </li>
    </div>

</ul>
<div class="row mx-0">
    <div class="w-75 mb-5 " style="padding-top: 60px; margin-left: 370px;" >
        <div class="row">
            <div class="col-md-8 mt-3 offset-2 bg-white py-2" style="border-radius: 10px;">
                <div class="pt-1">
                    <img src="/assets/img/staff.jpg" style="border-radius: 50%; width: 6%;" alt="">
                    <button id="createPost" class="border-0 text-black-50 modal_button text-left" data-toggle="modal" data-target="#exampleModalCenter">
                        What's on your mind, <span th:text="${fullName}"></span></button>
                    <hr>
                </div>
                <div class="w-100 d-flex justify-content-around flex-grow-1">
                    <div class="add_post">
                        <a href="#"> <img src="/assets/img/video.png" alt="" class="image_post_icon" ><span class="ml-1">Live video</span></a>
                    </div>
                    <div class="file-upload">
                        <label>
                            <input type="file" name="file"  onchange="getFileName()" class="uploaded-file">
                            <span><img src="/assets/img/file.png" alt="" class=" image_post_icon" ><span class="ml-1">Photo/Video</span></span>
                        </label>
                    </div>
                    <div class="file-name"></div>
                    <div class="add_post">
                        <button class="border-0 text-dark text-left" data-toggle="modal" data-target="#exampleModalCenter">
                            <img src="/assets/img/activity.png" alt="" class="image_post_icon m-0" ><span class="ml-1">Feeling/Activity</span></button>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>
        <div class="row postLists">
            <div th:each ="postList:${postLists}"  class="mt-3 col-md-8 offset-2 bg-white py-2" style="border-radius: 10px;">
                <div>
                    <div>
                        <span th:text="${postList.user.fullName}"></span>
                    </div>
                    <div>
                        <span th:text="${postList.createAt}"></span>
                    </div>
                </div>
                <div style="border-radius: 5px; border: 1px solid #ccc; padding: 10px;">
                    <p th:text="${postList.title}"></p>
                    <div th:if="${postList.images.imageId != null}">
                        <div th:each="image:${images}">
                        <span th:switch="${postList.images.imageId == image.imageId}">
                            <span th:case="${true}">
                                <img th:src="@{${'/api/image/'+postList.images.imageId}}" style="width: 100%;height: 400px;" alt="">
                            </span>
                        </span>
                        </div>
                    </div>
                    <div th:unless="${postList.images.imageId}">

                    </div>
                </div>
                <div class="w-100 d-flex justify-content-end">
                    <button th:data-el_comment_list_button="${postList.postId}" class="commentList border-0 text-black-50 text-left" data-toggle="collapse" th:data-target="${'#collapseExamples'+postList.postId}" aria-expanded="false" th:aria-controls="${'collapseExamples'+postList.postId}">
                        View comments</button>
                </div>
                <div class="collapse w-100" th:attr="id=${'collapseExamples'+postList.postId}">
                    <div th:attr="data-com_id=${postList.postId}">

                    </div>
                </div>
                <div class="w-100">
                    <div class="w-100 newComment">
                        <div th:data-new_com_id="${postList.postId}">

                        </div>
                    </div>
                <div class="d-flex justify-content-between">
                    <div class="mt-3"><img src="/assets/img/staff.jpg" class="image_comment_style m-0"></div>
                    <div class=" mt-3" style="width: 96%;">
                        <div class="ml-2">
                            <div  style="border-radius: 20px;width: 100%; padding: 5px; background-color:rgba(202,202,202,0.7);">
                                <input type="text" name="text" th:attr="data-el_id = ${postList.postId}"  placeholder="Fikr bildiring..." class=" inputText border-0 w-100"
                                       style=" outline: none; background-color:transparent; padding: 0 6px;">
                            </div>
                            <span>Yozuv qoldirish uchun enterni bosing</span>
                        </div>

                    </div>
                </div>
                </div>
            </div>
        </div>


    </div>
    <div class="ColMd h-100 position-fixed bg-white text-black">
        <div class=" py-2 " style="border-bottom: 1px solid #adb5bd">
            <p class="h2">Do'stlar</p>
            <div>
                <span>Do'st taklif qilish</span>
                <input type="text" name="keyword" class="w-100 search " id="searchNewFriends" placeholder="Search ..." required>
            </div>
            <div class="mt-2 " id="searchResult" >
            </div>
        </div>
        <div>
            <p class="h5 my-3 ">Do'slashish takliflari</p>
            <div class=" mt-2" style="display: flex;" th:each="userSuggestion:${userSuggestions}" th:data-el_id_suggestion="${userSuggestion.getUserId()}">
                <div class="w-25 pr-3">
                    <img src="/assets/img/staff.jpg" class="px-1 image_comment_style w-100" style="height: 55px;" alt="">
                </div>
                <div class="w-75">
                    <div>
                        <p th:text="${userSuggestion.getFullName()}" class="m-0 font-weight-bold"/>
                    </div>
                    <div>
                        <form>
                            <button type="submit" class="btn my-2 btn-info w-100 userSuggestion" th:data-el_id_suggestion="${userSuggestion.getUserId()}">Do'stlar qatoriga qo'shish</button>
                            <button class="btn my-2 btn-light w-100 rejectSuggestion" th:data-el_id_suggestion="${userSuggestion.getUserId()}">Radetish</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--MODAL-->
<div class="modal fade" id="exampleModalCenter" style="background-color:rgba(233, 236, 239, 0.26);" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Create Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formPost">
                <div class="modal-body">
                    <div>
                        <img src="/assets/img/staff.jpg" style="border-radius: 50%; width: 6%;" alt="">
                        <span th:text="${fullName}" id="userName"></span>
                    </div>
                    <div class="w-100 mt-2 " style="min-height: 150px;">
                        <textarea class="w-100 textarea_post" name="text" placeholder="What's on your mind" id="textarea"></textarea>
<!--                        <img id="imagesLoad" alt="images" style="width: 250px; height: 250px;"/>-->
                    </div>
                    <div class="modal-footer p-0 border-0">
                        <div class="file-upload">
                            <label>
                                <input type="file" accept="image/*" name="file" id="upload_file" onchange="getFileName()" class="uploaded-file" >
                                <span><img src="/assets/img/file.png" alt="" class="image_post_icon font-weight-bold" >Photo/Video</span>
                            </label>
                        </div>
                        <div class="file-name"></div>
                        <button type="submit" class="send w-100 btn btn-secondary" id="post_save">Post</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Right My Friends -->
<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header d-flex justify-content-between">
                <h4 class="modal-title" id="myModalLabel2">My Friends</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class=" mt-2" style="display: flex;" th:each="myFriend:${myFriends}" th:data-el_id_my_friend="${myFriend.getUserId()}">
                    <div class="w-25 pr-3">
                        <img src="/assets/img/staff.jpg" class="px-1 image_comment_style w-100" style="height: 45px;" alt="">
                    </div>
                    <div class="w-75">
                        <div>
                            <p th:text="${myFriend.getFullName()}" class="m-0 font-weight-bold"/>
                        </div>
                        <div>
                            <form>
                                <button class=" disconnectFriendship btn my-2 btn-light w-100" th:data-el_id_disconnect="${myFriend.getUserId()}">Bekor qilish</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->
<script type="text/javascript" th:src="@{/assets/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/mainAjax.js}"></script>

<script>


        <!--    FILE UPLOAD-->
        function getFileName() {

            var file = document.getElementsByClassName('uploaded-file').value;

            file = file.replace (/\\/g, «/»).split ('/').pop ();


            document.getElementsByClassName('file-name').innerHTML = 'file name: ' + file;
        }

</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var userId = $('span').data('user_id');
    var table = $("#searchResult");
    $(document).on('keyup','#searchNewFriends',function (e) {

        var value = $(this).val();

        if (value === ''){
            table.empty();
        }else {
            filterFunction(value);
        }
    });
    function filterFunction(value) {
        var data = new FormData();
       data.append('value',value.toLowerCase());
       data.append('userId',userId);
       $.ajax({
           type:"POST",
           url:"/api/searchUser",
           enctype:"multipart/form-data",
           data:data,
           contentType:false,
           processData: false,
           timeout:6000,
           success:function (result) {
               table.empty();
               for (var i = 0; i < result.data.length; i++) {
                   if (result.data[i].status === 10) {
                       var row = "<div class='d-flex' data-el_user_id=\"" + result.data[i].userId + "\">" +
                           " <div class=\"w-25 pr-3\">\n" +
                           "                    <img src=\"/assets/img/staff.jpg\" class=\"px-1 image_comment_style w-100\" style=\"height: 55px;\" alt=\"\">\n" +
                           "                </div>\n" +
                           "                <div class=\"w-75\">\n" +
                           "                    <div>\n" +
                           "                        <p class=\"font-weight-bold\">" + result.data[i].fullName + "</p>" +
                           "<p>offer sent</p>"+
                           "                    </div>\n" +
                           "                    <div>\n" +
                           "                            <button class=\"btn my-2 btn-light w-100 removalUser\" data-el_user_id_removal_user=\"" + result.data[i].userId + "\">Olib tashlash</button>\n" +
                           "                    </div>\n" +
                           "\n" +
                           "                </div>" +
                           "</div>";
                       table.prepend(row);
                   }else if (result.data[i].status ===30) {
                       var row = "<div class='d-flex' data-el_user_id=\"" + result.data[i].userId + "\">" +
                           " <div class=\"w-25 pr-3\">\n" +
                           "                    <img src=\"/assets/img/staff.jpg\" class=\"px-1 image_comment_style w-100\" style=\"height: 55px;\" alt=\"\">\n" +
                           "                </div>\n" +
                           "                <div class=\"w-75\">\n" +
                           "                    <div>\n" +
                           "                        <p class=\" font-weight-bold\">" + result.data[i].fullName + "</p>" +
                           "<p>Friend</p>"+
                           "                    </div>\n" +
                           "                    <div>\n" +
                           "                    </div>\n" +
                           "\n" +
                           "                </div>" +
                           "</div>";
                       table.prepend(row);
                   }else if (result.data[i].userId === userId){
                       var row = "<div class='d-flex' data-el_user_id=\"" + result.data[i].userId + "\">" +
                           " <div class=\"w-25 pr-3\">\n" +
                           "                    <img src=\"/assets/img/staff.jpg\" class=\"px-1 image_comment_style w-100\" style=\"height: 55px;\" alt=\"\">\n" +
                           "                </div>\n" +
                           "                <div class=\"w-75\">\n" +
                           "                    <div>\n" +
                           "                        <p class=\"font-weight-bold\">" + result.data[i].fullName + "</p>" +
                               "<p>you</p>"+
                           "                    </div>\n" +
                           "                    <div>\n" +
                           "                    </div>\n" +
                           "\n" +
                           "                </div>" +
                           "</div>";
                       table.prepend(row);
                   } else if (result.data[i].userId !== userId) {
                       var row = "<div class='d-flex' data-el_user_id=\"" + result.data[i].userId + "\">" +
                           " <div class=\"w-25 pr-3\">\n" +
                           "                    <img src=\"/assets/img/staff.jpg\" class=\"px-1 image_comment_style w-100\" style=\"height: 55px;\" alt=\"\">\n" +
                           "                </div>\n" +
                           "                <div class=\"w-75\">\n" +
                           "                    <div>\n" +
                           "                        <p class=\"font-weight-bold\">" + result.data[i].fullName + "</p>" +
                           "                    </div>\n" +
                           "                    <div>\n" +
                           "                            <button data-el_user_id_suggestion=\"" + result.data[i].userId + "\" class=\"suggestionUser btn my-2 btn-info w-100\">Taklif qilish</button>\n" +
                           // "                            <button class=\"btn my-2 btn-light w-100 removalUser\" data-el_user_id_removal_user=\"" + result.data[i].userId + "\">Olib tashlash</button>\n" +
                           "                    </div>\n" +
                           "\n" +
                           "                </div>" +
                           "</div>";
                       table.prepend(row);
                   }
               }
           },
           error:function (e) {
               console.log(e);
           }
       });

    }
    /*]]>*/
</script>
</body>
</html>