<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/style.css}">
</head>
<body>
<ul class="nav justify-content-end bg-light pr-5 py-2">
    <li class="nav-item">
        <a class="nav-link font-weight-bolder text-black-50" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link font-weight-bolder text-black-50" href="/login">SignIn</a>
    </li>
    <li class="nav-item">
        <a class="nav-link font-weight-bolder text-black-50" href="/sign_up_save">SignUp</a>
    </li>
    <li class="nav-item mr-5">
        <a class="nav-link  font-weight-bolder text-black-50" href="/cabinet" >About</a>
    </li>
</ul>
<h1>Salom</h1>

<script type="text/javascript" th:src= "@{assets/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{assets/js/jquery.min.js}"></script>
</body>
</html>