<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" th:href="@{assets/css/bootstrap.min.css}">
    <script type="text/javascript" th:src= "@{assets/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{assets/css/style.css}">
</head>
<body>
<ul class="nav justify-content-end bg-light pr-5 py-2">
    <li class="nav-item">
        <a class="nav-link font-weight-bolder text-black-50" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link font-weight-bolder text-black-50" href="/login">SignIn</a>
    </li>
    <li class="nav-item">
        <a class="nav-link font-weight-bolder text-black-50" href="/sign_up_save">SignUp</a>
    </li>
    <li class="nav-item mr-5">
        <a class="nav-link  font-weight-bolder text-black-50" href="/cabinet" >About</a>
    </li>
</ul>
<div class="container signUp">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-3">
            <form class="form-group" id="signInForm" name="signInForm" method="post" th:action="@{/login}" >
                <label for="userName">User Name</label>
                <input type="text" id="userName" name="username" class="form-control" placeholder="User Name" required>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                <div class="d-flex justify-content-between mt-2">
                    <button id="connect" type="submit" class="btn btn-secondary" form="signInForm" >Sign In</button>
                    <a href="/" class="btn btn-danger">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{assets/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{assets/js/mainAjax.js}"></script>
</body>
</html>