<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/style.css}">
    <script type="text/javascript" th:src= "@{assets/js/bootstrap.min.js}"></script>
</head>
<body>
<ul class="nav justify-content-end bg-light pr-5 py-2">
    <li class="nav-item">
        <a class="nav-link font-weight-bolder text-black-50" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link font-weight-bolder text-black-50" href="/login">SignIn</a>
    </li>
    <li class="nav-item">
        <a class="nav-link font-weight-bolder text-black-50" href="/sign_up_save">SignUp</a>
    </li>
    <li class="nav-item mr-5">
        <a class="nav-link  font-weight-bolder text-black-50" href="/about" >About</a>
    </li>
</ul>
<div class="container signUp">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-3">
            <span th:text="${massage}" class="text-danger font-weight-bolder"></span>
            <form class="form-group" method="post" th:action="@{/sign_up_save}" th:object="${requestUser}" id="signUpForm" name="signUpForm" >
                <label for="fullName">Full Name</label>
                <input type="text" id="fullName"
                        th:field="*{fullName}"
                       name="fullName" class="form-control" placeholder="Full Name" required>
                <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" class="text-danger">error</span>

                <label for="age">Age</label>
                <input type="text" id="age"
                        th:field = "*{age}"
                       name="age" class="form-control" placeholder="Age" required>
                <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="text-danger">error</span>
                <label for="email">Email</label>
                <input type="text" id="email" name="email"
                       th:field="*{email}"
                class="form-control" placeholder="Email" required>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger">error</span>

                <label for="phone">Phone Number</label>
                <input type="text" id="phone"
                       th:field="*{phoneNumber}"
                name="phoneNumber" class="form-control" placeholder="Phone Number" required>
                <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="text-danger">error</span>

                <label for="user_name">User Name</label>
                <input type="text" id="user_name"
                       th:field="*{userName}"
                name="userName" class="form-control" placeholder="User Name" required>
                <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="text-danger">Error</span>

                <label for="password">Password</label>
                <input type="password" id="password"
                       th:field="*{password}"
                name="password" class="form-control" placeholder="Password" required>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger">Password not confirmed</span>

                <label for="confirm">Confirm</label>
                <input type="password" id="confirm"
                       th:field="*{prePassword}"
                name="prePassword" class="form-control" placeholder="Confirm" required>
                <span th:if="${#fields.hasErrors('prePassword')}" th:errors="*{prePassword}" class="text-danger"></span>
                <div class="d-flex justify-content-between mt-2">
                    <button id="connect" type="submit" class="btn btn-secondary">Save</button>
                    <a href="/" class="btn btn-danger">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{assets/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{assets/js/mainAjax.js}"></script>
<script>
    <!--    FILE UPLOAD-->
    function getFileName() {

        var file = document.getElementsByClassName('uploaded-file').value;

        file = file.replace (/\\/g, «/»).split ('/').pop ();


        document.getElementsByClassName('file-name').innerHTML = 'file name: ' + file;
    }
</script>
</body>
</html>
